@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_internal_div {
    padding: 80px 50px;
    background-color: #e8ebef;
    border-radius: 5px;
}

.login_internal_div > h1 {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
}